.movielist_form{
    display: inline-block;
}
.movielist_fieldset{
    border: none;
    display: inline-block;
    width: 200px;
}
.input_title{
    margin-bottom: 5px;
}
.title{
    margin: 15px auto;
}
.input{
    margin: 15px auto;
}
.input_submit{
    opacity: 0;
    display: none;
}
.input_director,.input_title{
    padding: 2px 5px;
    width: 100%;
    height: 50px;
    border-radius: 2px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.384);
}
.input_movie_name > input{
    display: inline-block;
    width:  70%;
    height: 50%;
    padding: 2.5px;
}
.input_movie_director > input {
    display: inline-block;
    width:  70%;
    height: 50%;
    padding: 2.5px;
}
.input_submit > input {
    width: 30%;
    height: 100%;
}
.movielist_movie{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.view_more_button {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.view_more_loading_icon{
    animation-name: loadingbar_turn;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    font-size: 3em;
}
.view_more_button > button{
    font-size: 3em;
    width: 100%;
    height: 75px;
    box-shadow: 0px 10px 13px -7px #000000, 4px 5px 15px 5px rgba(0,0,0,0);
    border: none;
    outline: none;
    cursor: pointer;
}
.movielist_movie_wrap {
    max-width: 170px;
    min-width: 170px;
    margin: 30px;
    position: relative;
}
.movielist_movie_inner {
    display: flex;
    flex-direction: column;
}
.movielist_movie_inner_top{
    position: relative;
    min-height: 195px;
    max-height: 195px;
    max-width: 170px;
    min-width: 170px;
    text-decoration: none;
    color: black;
}
.movielist_movie_poster{
    max-width: inherit;
    max-height: inherit;
    min-width: inherit;
    min-height: inherit;
    display: inline-block;
    border: 1px solid black;
    position: relative;
}
.movielist_header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.movielist_movie_rank_wrap{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -30px;
    margin-top: -35px;
    font-size: 2em;

}
.movielist_movie_additional{
    position: absolute;
    top: 0;
    left: 0;
    max-width: inherit;
    max-height: inherit;
    min-width: inherit;
    min-height: inherit;
    background-color: black;
    color: white;
    padding: 5px;
}
.movielist_movie_poster >span{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.movielist_movie_name_ko > h5,.movielist_movie_name_en > h5{
    font-size: 1.1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.movielist_movie_open_dt > h5::before {
    content: "개봉일: ";
}
.movielist_movie_prdt_year > h5::before {
    content: "제작일: ";
}
.movielist_movie_prdt_year > h5::after {
    content: "년";
}
.movielist_movie_prdt_stat_nm > h5::before {
    content: "제작상태: ";
}
.movielist_movie_rep_nation_mm > h5::before {
    content: "대표제작국가: "
}
.movielist_movie_rep_genre_nm > h5::before {
    content: "대표장르: ";
}