.navbar_table{
    display: table;
    width: 100%;
    table-layout: fixed;
    height: 100px;
}
.header_navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}
.navbar_cell{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background: #fb8c00;
    color: white;
    text-decoration: none;
}
.active{
    background: #ffbd45;
    color: black;
}
@media (max-width: 550px) {
    .navbar_cell {
        font-size: .9em;
    }
}