*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text-align-center{
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;  
    margin: auto; 
    flex-direction: column;
}
.notfound_page{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}
@media (min-width: 1200px){
    .container {
        max-width: 1250px;
        min-width: 1250px;
    }
}